<meta name="viewport" content="width=device-width,initial-scale=1"> <!-- mobile 브라우저는 데스크탑 사이트를 작은 화면에 보여주기 위해 자동으로 줌아웃 -->
<!--width: device-width로 브라우저의 너비를 모바일 기기의 width로 지정합니다.
initial-scale: 1은 100%를 뜻합니다. 즉 사이트의 줌을 바꾸지 않습니다-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> <!-- 2 -->
<link rel="stylesheet" href="/css/master.css">
<title>Contact</title>
